01_Prompt_To_VVeo3.json
{
  "name": "01_Prompt_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting1').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting1').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting1').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting1').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting1').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting1').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting1').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting1').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "3815281b-bd39-4cc2-a65e-bd2f8756ab4d",
      "name": "Vertex AI-VEO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2608,
        224
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "66d18d34-5221-4c2e-9c0b-2acc3c755ac7",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        2832,
        224
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "023c8d6a-4734-489a-8976-e10d8b6d5e26",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3056,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3280,
        224
      ],
      "id": "e65acc77-e564-475a-a5f2-610dbb7d4871",
      "name": "Check Video Ready"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "e8a3bcbd-0e07-4a8d-b953-c53ef1597cff",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3504,
        224
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "02. Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "id": "11e7eee1-4258-43e9-b811-bbc4b7b7a3aa",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3728,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Status": "Success",
            "Video-name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3952,
        224
      ],
      "id": "2f9053a6-c2e5-4491-a7f5-dd178a8cd6b8",
      "name": "Update Status to Success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        224
      ],
      "id": "6804bd73-5a2e-4625-be15-47cd30fcacdd",
      "name": "CheckTimeToken",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting1').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting1').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting1').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2384,
        288
      ],
      "id": "912b2581-91f6-467f-b98f-1dbf6da68292",
      "name": "Get RefreshToken"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompt }}"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa6f4cd0-2a75-4ea4-8c59-a3c45b4245f8",
      "name": "Setting1",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "5fee3153-69d2-485c-88ef-7a4fc1613ca8",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "Prompt Tuỳ Ý\n",
        "height": 592,
        "width": 4352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "2337272a-7982-4710-95ec-c9b8bce9538f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=494126530"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        224
      ],
      "id": "9ebe312a-2660-4794-afea-7d2ba81d73f3",
      "name": "Lấy Danh Sách Video Từ Câu Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        224
      ],
      "id": "da22b849-3974-4d31-929c-bef31be449a8",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Limit').item.json.Keyword }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an intelligent AI video generator.\n\nBased on the keyword \"{{ $('Limit').item.json.Keyword }}\", create a short cinematic video with a total duration of exactly 8 seconds, divided into 3 clear scenes.\n\nLANGUAGE REQUIREMENT:\n- All narration and implied speech must be in Vietnamese\n- The video is designed for Vietnamese-speaking audiences\n\nMAIN FOCUS:\n- Focus strongly on the MAIN CHARACTER\n- Ignore detailed background and secondary props\n- The character must remain the visual center of the video\n\nMAIN CHARACTER (GLOBAL REQUIREMENTS):\n- The character is an Asian person\n- Neutral, friendly appearance\n- Consistent gender, age, facial features, hairstyle, and clothing across all scenes\n- Natural, realistic movements and expressions\n- Family-friendly, professional look\n\nVIDEO STRUCTURE:\n\nScene 1 (0–2 seconds):\n- Character:\n  - Gender and estimated age\n  - Asian appearance: hair style, skin tone, body shape\n  - Clothing: clear color and simple modern style\n  - Facial expression: clearly visible and expressive\n  - Body posture: standing or sitting, relaxed and natural\n- Action:\n  - Clear action related to the keyword\n  - Natural movement of hands, head, or body\n  - Slow to moderate movement speed\n  - Character positioned at the center of the frame\n- Camera & Lighting:\n  - Medium or close-up shot\n  - Soft, natural lighting focused on the face\n\nScene 2 (3–5 seconds):\n- Character:\n  - Same character, same appearance and outfit\n  - Facial expression changes to match progression of the idea\n- Action:\n  - A new but connected action that continues the message of the keyword\n  - Smooth and realistic movement\n  - Character remains the main focus\n- Camera & Lighting:\n  - Slight camera angle change or gentle zoom\n  - Balanced, even lighting\n\nScene 3 (6–8 seconds):\n- Character:\n  - Same Asian character, consistent look\n  - Confident, positive, or concluding facial expression\n- Action:\n  - Clear final action that visually reinforces the keyword meaning\n  - Calm and controlled movement\n  - Character remains centered in the frame\n- Camera & Lighting:\n  - Stable framing\n  - Soft cinematic lighting highlighting the character\n\nCONTENT & SAFETY REQUIREMENTS:\n- No violence, no weapons, no sensitive or controversial content\n- No political persuasion\n- No brand logos or copyrighted characters\n- Clean, neutral, and safe visuals suitable for all audiences\n\nGOAL:\n- Create a clear, engaging 8-second Vietnamese video\n- The character’s actions and expressions must visually communicate the meaning of the keyword\n- Simple, focused storytelling through the main character only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1360,
        224
      ],
      "id": "00356417-140c-4b8f-8956-8aa9a0966d20",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1440,
        448
      ],
      "id": "5c22a453-5ee3-4d18-9204-8e5b8c0368df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Prompt": "={{ $json.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        224
      ],
      "id": "e05b2772-3a9b-4738-88b1-afa31999afa6",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "616fba57-8731-4629-b878-fceaa51a083c",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        224
      ],
      "id": "9aa05b40-816e-493f-b1de-62d6302aca5e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        224
      ],
      "id": "4afe4ac1-95ee-49db-850f-95b5d7c7d53b",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account 7"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Check Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update Status to Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting1": {
      "main": [
        [
          {
            "node": "CheckTimeToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Video Từ Câu Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Video Từ Câu Prompt": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Setting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}