01_Prompt_To_VVeo3.json
{
  "name": "01_Prompt_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting1').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting1').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting1').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting1').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting1').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting1').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting1').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting1').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "a00adfee-6ede-42cd-bdf2-aaf564675263",
      "name": "Vertex AI-VEO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3104,
        928
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "9a6989cd-77c7-419b-b663-41b706b85846",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        3744,
        1088
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "a0a5a2a2-7b78-4932-abd6-f811eea8bb8c",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3984,
        992
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4208,
        1088
      ],
      "id": "dd28484f-5f30-46bd-b7e1-05d266d61f52",
      "name": "Check Video Ready"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "35c4f23f-cfe1-4c0b-b19b-34f2e4aada58",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4432,
        1088
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj",
          "mode": "list",
          "cachedResultName": "02. Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj"
        },
        "options": {}
      },
      "id": "e44b28c2-0523-4353-8b25-f46da2da518f",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4656,
        1088
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Status": "Success",
            "Video-name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4880,
        1088
      ],
      "id": "0edbf06f-347d-4997-956c-2934c42288d9",
      "name": "Update Status to Success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2320,
        976
      ],
      "id": "e3879eb9-b7d1-49c0-a94f-9cfc5f14238f",
      "name": "CheckTimeToken",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting1').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting1').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting1').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2672,
        1184
      ],
      "id": "e92c7ca2-c9e2-4d3a-a500-a052c775107d",
      "name": "Get RefreshToken"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "cntmake-442905"
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "349761167636-fvcmldolcg5dqk93pj4vlg4v1j4t3185.apps.googleusercontent.com"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0Aa7pCA9Usf7M5PYDxvo4f0-yJwuU0O2yci9Ypa1sgc6p9QDlo1G8XTmOt2Tz-rqlyWSi35E5KNDO9fOBm5n_rt-wp_HWwxTg6D7MnuRf4uSaC0p_ZtSWynCrehROk9d9UavIWc5IGBl0RXd-J47P1teRuRFkkKzhbuePtjkPknwQS2U5P0ssz3RI_TYk1d-soFaMVeseaCgYKAXkSARcSFQHGX2MiAVtlRwP6BMqY5ofe_VKNgQ0207"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04ONlVbX3NnaVCgYIARAAGAQSNwF-L9IrxB2EgwmuAQcjRjpUxtIEqzcrH0Bhg603sLJ4iLj4PHg_kCASqZZnFls2s59QrxCyhAA"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompt }}"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b7280d4-b1ff-4dda-b7ae-36a6a0067a20",
      "name": "Setting1",
      "type": "n8n-nodes-base.set",
      "position": [
        2080,
        960
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        432,
        960
      ],
      "id": "a09f3df8-6ae3-4545-a3bc-88c1c9a13e7a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "Prompt Tuỳ Ý\n",
        "height": 784,
        "width": 5296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        784
      ],
      "id": "8bc075d9-0eb4-4939-b578-4c2e08a07e62",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=494126530"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        960
      ],
      "id": "35e4f35a-a99b-4999-8dbe-1d7d4a133fbf",
      "name": "Lấy Danh Sách Video Từ Câu Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1024,
        960
      ],
      "id": "54399b81-2760-46de-bca3-d4d3b5fc369c",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Limit').item.json.Keyword }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an intelligent AI video generator.\n\nBased on the keyword \"{{ $('Limit').item.json.Keyword }}\", create a short cinematic video with a total duration of exactly 8 seconds, divided into 3 clear scenes.\n\nLANGUAGE REQUIREMENT:\n- All narration and implied speech must be in Vietnamese\n- The video is designed for Vietnamese-speaking audiences\n\nMAIN FOCUS:\n- Focus strongly on the MAIN CHARACTER\n- Ignore detailed background and secondary props\n- The character must remain the visual center of the video\n\nMAIN CHARACTER (GLOBAL REQUIREMENTS):\n- The character is an Asian person\n- Neutral, friendly appearance\n- Consistent gender, age, facial features, hairstyle, and clothing across all scenes\n- Natural, realistic movements and expressions\n- Family-friendly, professional look\n\nVIDEO STRUCTURE:\n\nScene 1 (0–2 seconds):\n- Character:\n  - Gender and estimated age\n  - Asian appearance: hair style, skin tone, body shape\n  - Clothing: clear color and simple modern style\n  - Facial expression: clearly visible and expressive\n  - Body posture: standing or sitting, relaxed and natural\n- Action:\n  - Clear action related to the keyword\n  - Natural movement of hands, head, or body\n  - Slow to moderate movement speed\n  - Character positioned at the center of the frame\n- Camera & Lighting:\n  - Medium or close-up shot\n  - Soft, natural lighting focused on the face\n\nScene 2 (3–5 seconds):\n- Character:\n  - Same character, same appearance and outfit\n  - Facial expression changes to match progression of the idea\n- Action:\n  - A new but connected action that continues the message of the keyword\n  - Smooth and realistic movement\n  - Character remains the main focus\n- Camera & Lighting:\n  - Slight camera angle change or gentle zoom\n  - Balanced, even lighting\n\nScene 3 (6–8 seconds):\n- Character:\n  - Same Asian character, consistent look\n  - Confident, positive, or concluding facial expression\n- Action:\n  - Clear final action that visually reinforces the keyword meaning\n  - Calm and controlled movement\n  - Character remains centered in the frame\n- Camera & Lighting:\n  - Stable framing\n  - Soft cinematic lighting highlighting the character\n\nCONTENT & SAFETY REQUIREMENTS:\n- No violence, no weapons, no sensitive or controversial content\n- No political persuasion\n- No brand logos or copyrighted characters\n- Clean, neutral, and safe visuals suitable for all audiences\n\nGOAL:\n- Create a clear, engaging 8-second Vietnamese video\n- The character’s actions and expressions must visually communicate the meaning of the keyword\n- Simple, focused storytelling through the main character only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1488,
        960
      ],
      "id": "4e5b200d-1530-4c4e-8dda-cdfac49e0a1e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        1216
      ],
      "id": "647c6d91-359e-441e-a9b4-e7faedc4de18",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Prompt": "={{ $json.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        960
      ],
      "id": "fb59db38-7e08-4699-85c8-d395a9d9e678",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "616fba57-8731-4629-b878-fceaa51a083c",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        960
      ],
      "id": "02a98190-ca8a-4ae9-8ce8-a6e1a7bdafd0",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=494126530"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        960
      ],
      "id": "d43057ce-c034-415a-ba0b-50e44949785c",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting2').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting2').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting2').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting2').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting2').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting2').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting2').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting2').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "d7b56aee-ddd1-4a87-80cf-dd1e42b2e377",
      "name": "Vertex AI-VEO2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3120,
        4896
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "f5c69d58-cf5f-470c-87cd-cad8a0224485",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        3760,
        5056
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "1da93856-7e9f-4911-821b-4defa0055589",
      "name": "Vertex AI-fetch2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4000,
        4960
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4224,
        5056
      ],
      "id": "52eaf21a-b3d2-48aa-b183-0b57920181bc",
      "name": "Check Video Ready2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "74c3352b-9607-4e7a-9365-338f3469937a",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4448,
        5056
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "name": "=video-create-from-images{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21"
        },
        "options": {}
      },
      "id": "e7fcac1b-81ca-47cb-98da-85901fd6573e",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4672,
        5056
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2336,
        4944
      ],
      "id": "3f496ee2-4602-4665-bc03-ce575dd9d359",
      "name": "CheckTimeToken2",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting2').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting2').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting2').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        5152
      ],
      "id": "7bcc4505-97ee-4641-9292-aa68d8fa7239",
      "name": "Get RefreshToken2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "n8npython-479410"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json['0'].content[0].text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0Aa7pCA9Usf7M5PYDxvo4f0-yJwuU0O2yci9Ypa1sgc6p9QDlo1G8XTmOt2Tz-rqlyWSi35E5KNDO9fOBm5n_rt-wp_HWwxTg6D7MnuRf4uSaC0p_ZtSWynCrehROk9d9UavIWc5IGBl0RXd-J47P1teRuRFkkKzhbuePtjkPknwQS2U5P0ssz3RI_TYk1d-soFaMVeseaCgYKAXkSARcSFQHGX2MiAVtlRwP6BMqY5ofe_VKNgQ0207"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "823311730572-tbm9sjtf8sonll98v011o8o30aqebkti.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04plJd9BIqvF_CgYIARAAGAQSNwF-L9Ir40JaQ02eJLCwRKgS-SJP0GauDZ10HxmmpOunYj4TKtEEOwIwgSxvCn5fVfEOn-1ki0o"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "array",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4570aeae-d0fe-427f-b26d-cb068cfde271",
      "name": "Setting2",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        4928
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        4912
      ],
      "id": "658d9470-9208-485e-a080-77cda81d2312",
      "name": "Schedule Trigger2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Tạo Video from Imags\n",
        "height": 784,
        "width": 4928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        4768
      ],
      "id": "45ec2fe6-8826-4602-97c1-32678d2457f9",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".jpg",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re",
            "mode": "list",
            "cachedResultName": "CREATE_VIDEO_IMAGES",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        4912
      ],
      "id": "22e0e64b-8f75-4585-a9a5-acf1582d49e8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        4928
      ],
      "id": "f2c4f9c7-b9a8-47d2-9fdd-231434dfc619",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1008,
        4912
      ],
      "id": "83489697-413d-49c6-bfc2-98fea364e1b3",
      "name": "Limit3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Bạn là một AI thông minh.Dựa trên hình ảnh, tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1600,
        4928
      ],
      "id": "2c0c9d75-e222-4b26-adc1-8fe6779ef34e",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        6256
      ],
      "id": "cff67eb6-0ee7-4cd7-ad7b-55fffc125248",
      "name": "Schedule Trigger3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting3').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting3').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting3').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting3').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting3').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting3').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting3').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting3').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "4cdac0ec-30c3-49f1-8d6f-395e1e814b1a",
      "name": "Vertex AI-VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2480,
        6256
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "8eebd098-9fc1-4681-97a4-9e4dc97771b8",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        2704,
        6256
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "c8d09751-e3b0-4a4c-8fcf-00b80aa17bb2",
      "name": "Vertex AI-fetch3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2928,
        6176
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3152,
        6256
      ],
      "id": "3b25bd85-6cc3-40bf-ad2f-83fb99ffc2db",
      "name": "Check Video Ready3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "2e58742f-d3b7-4df4-823f-9d593ff82dfc",
      "name": "Convert to File3",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3376,
        6256
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "name": "=video-createfromOdlVideo{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AQkQRVHO3QpKYRX0YnUbiEKr9ud5cd21"
        },
        "options": {}
      },
      "id": "5f09779f-50b5-418e-890d-657f9e0fc0e0",
      "name": "Upload file3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3600,
        6256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        6256
      ],
      "id": "2a2edd9a-0454-4fec-9379-b3e8bfd24c06",
      "name": "CheckTimeToken3",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting3').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting3').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting3').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        6320
      ],
      "id": "62a66f97-d784-4223-86f3-c4b34c5c5334",
      "name": "Get RefreshToken3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "n8npython-479410"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "ya29.a0ATi6K2v7KMDwRqoskMsbzaelaJfcR3HxQV4Rgh5LL0e9i0VsY0ZiVNYXh9BWaXlw5V8ONW6xtoL-i7UEKYiid6TAGj5WzaqFAUirby9OQQYZokUq4Fe7yYrZx_1-1QPy40JztOkNxWFNEH-exihpDwnrttxFz0qiIn66VxixawBbruScyhpbjT4EfThY7audHcpd0XMaCgYKAUcSARcSFQHGX2MiwyOhptpbTvlK6eMEw_5PjQ0206"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "823311730572-tbm9sjtf8sonll98v011o8o30aqebkti.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04plJd9BIqvF_CgYIARAAGAQSNwF-L9Ir40JaQ02eJLCwRKgS-SJP0GauDZ10HxmmpOunYj4TKtEEOwIwgSxvCn5fVfEOn-1ki0o"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82c059d3-2658-4d8e-9579-e4262a34e2dd",
      "name": "Setting3",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        6256
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "content": "Worflow tạo Video từ Video Có sẵn trên drive\n",
        "height": 736,
        "width": 4224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        5984
      ],
      "id": "8f34d302-0b0e-4c34-8710-4ac7f08e6a83",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS",
            "mode": "list",
            "cachedResultName": "Videos_for_Create_VertexAI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        6256
      ],
      "id": "59408166-a4a4-4f5c-9d5a-a1cd85df3c3f",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        6256
      ],
      "id": "42db25eb-6870-46ee-81a1-e21dfb15c042",
      "name": "Limit4",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        6256
      ],
      "id": "b13aebab-1563-4bcc-9f2b-7ea817306a8c",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1232,
        6256
      ],
      "id": "d183289c-8266-4b8b-8255-236865107097",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Bạn là một AI thông minh.Dựa trên text \"{{ $json.text }}\", tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1456,
        6256
      ],
      "id": "959a1d69-d807-4e10-b798-21be0f2f311b",
      "name": "Basic LLM Chain1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1536,
        6480
      ],
      "id": "ef24b205-5602-422e-9332-d3fd8780f442",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4880,
        5056
      ],
      "id": "2c83da71-d3ad-4649-a7f2-bad9808d1d98",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit4').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3872,
        6256
      ],
      "id": "50987458-3f8b-4ebd-b661-426473b93a06",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Check Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update Status to Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting1": {
      "main": [
        [
          {
            "node": "CheckTimeToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Video Từ Câu Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Video Từ Câu Prompt": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Setting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch2": {
      "main": [
        [
          {
            "node": "Check Video Ready2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting2": {
      "main": [
        [
          {
            "node": "CheckTimeToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch3": {
      "main": [
        [
          {
            "node": "Check Video Ready3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready3": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting3": {
      "main": [
        [
          {
            "node": "CheckTimeToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Setting3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a6fa87d-e362-428c-8a19-48469562ae80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "ANeAJpGt52RymvSC",
  "tags": []
}